<h1>Book Appointment</h1>

<div class="row">
    @foreach (var doctor in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img" src="~/images//@doctor.Img" style="width: 100%; height: auto;" alt="Doctor Image">
                <div class="card-body">
                    <h5 class="card-title">@doctor.Name</h5>
                    <p class="card-text">Specialization: @doctor.Specialization</p>
                    <a href="/Appointment/index/@doctor.Id" class="btn btn-primary">Book Appointment</a>
                </div>
            </div>
        </div>
    }
</div>
